name: Build and Deploy to AWS EC2 Production

on:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        name: Build docker image and push to dockerhub

        steps:
            - name: Checkout Repo
              uses: actions/checkout@v2

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v1

            - name: Login to DockerHub
              uses: docker/login-action@v1
              with:
                  username: ${{ secrets.DOCKER_USERNAME }}
                  password: ${{ secrets.DOCKER_PASSWORD }}

            - name: Build and Push Docker image
              uses: docker/build-push-action@v2
              with:
                  context: .
                  file: ./docker/production/Dockerfile
                  push: true
                  tags: joshibbotson/production-server:latest
                  platforms: linux/amd64,linux/arm64

    deploy:
          needs: build
          name: Deploy to AWS EC2 Production
          runs-on: ubuntu-latest
                - name: Deploy to AWS EC2
                  uses: appleboy/ssh-action@master
                  with:
                      host: ${{ secrets.HOST }}
                      username: ${{ secrets.USERNAME }}
                      key: ${{ secrets.SSHKEY }}
                      script: |
                          docker pull joshibbotson/production-server:latest
                          docker stop production-server || true
                          docker rm production-server
                          docker run -d -p 8082:8082 --env-file=/home/ubuntu/repos/production.env  --name production-server joshibbotson/production-server:latest
